extends layout

block content
  h1= 'Site: ' + output.resource
  h2= 'Risk: ' + output.risk

  h3 Reputation
  p= 'Classification: ' + output.reputation.classification
  p= 'Severity: ' + output.reputation.severity
  p= 'Confidence: ' + output.reputation.confidence

  if output.context.indications
    h3 Indicators
    ul
    each val in output.context.indications
      li= val

  if output.context.related_ips
    h3 IP Addresses
    ul
    each val in output.context.related_ips
      li= val.ip + ' -> ' + val.classification + ' -> ' + val.confidence + ' Risk'
